html,
body {
    height: 100%;
    font-size: 1em;
}

.titlecase {
    text-transform: capitalize;
}

.container-fluid {
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 1020px;
}

.content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
    max-height: 100%;
}

.singleplace{
    margin: 10px;
}

.placename {
    font-size: 1.2em;
    font-weight: 500;
}

.flickr {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#map-container {
    flex-grow: 1;
    background-color: #ccc;
}

#search-container {
    padding: 5px;
    max-height: 100%;
    max-width: 25%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#searchbox {
    width: 150px;
    max-width: 100%;
}

.buttonbox {
    max-width: 100%;
    overflow: scroll;
}

.btn {
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgba(38, 181, 159, 0.56);
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.08);
}

@media only screen and (max-width: 992px){
    .content {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #search-container {
        max-height: 15%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 992px) and (orientation: landscape){
    .content {
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    #search-container {
        max-width: 20%;
        max-height: 100%;
    }
}

@media (max-device-width: 600px) {
    .btn,
    #searchbox,
    h3 {
        font-size: 2em;
    }
    h1 {
        font-size: 3em;
    }
}