html, body {
    height: 100%;
}

.titlecase {
    text-transform: capitalize;
}

.container {
    height: 100%;
}

.content {
    height: 90%;
}

.header {
    height: 10%;
}

.singleplace{
    margin: 10px;
}

.placename {
    font-size: 1.2em;
    font-weight: 500;
}

.flickr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#map-container {
    height: 100%;
    background-color: #ccc;
}

#search-container {
    overflow-y: auto;
}

/*@media only screen and (orientation: portrait) {
    #map-container { height: 80%; }
    #search-container { height: 20%; }
}*/
/* TODO: add media queries to change dimensions based on screen size/orientation
List of places to be left or top, scrollable. 
Map to be right or bottom, resized to take up a minimum of 2/3rds the screen.
InfoWindows reduce columns of photos to one on narrow screen */

